# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 환경설정/가상환경
.env
.venv/
venv/
ENV/

# IDE/에디터
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# 키/민감정보
key/
*.pem
*.key

# 로그/임시파일
*.log
*.tmp

# Docker
*.pid

# 기타
*.sqlite3

# 배포/빌드 산출물
dist/
build/

# 기타 민감한 파일
secrets.*

